
<h2>メモ一覧</h2>
<% if @memos.nil? %>
  <p>メモを作成しよう！</p>
<% else %>
  <table>
    <% @memos.each do |memo| %>
      <tr>
        <td>
          <a href="/memos/<%= memo["id"] %>"><%= CGI.escapeHTML(memo["title"]) %></a>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<a href="/memos/new">メモを作成！</a>
