
<div class="form-section">
  <form action="/register" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <label>ユーザーID：</label>
        <input type="text" name="username" maxlength=10>
      </div>
      <div class="form-items__item">
        <label>パスワード：</label>
        <input type="password" name="pass" maxlength=16>
      </div>
      <div class="form-action">
        <input type="submit" value="ユーザー登録">
        <input type="reset" value="リセット">
      </div>
    </div>
  </form>
</div>
